<form id="multionline-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
	<input type="hidden" name="row[ids]" value="" />
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Price_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-price_id" data-rule="required" data-source="device/price/index" class="form-control selectpage form-control" name="row[price_id]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Admin_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-admin_id" data-rule="required" data-field="nickname" data-source="auth/admin/index" class="form-control selectpage form-control" name="row[admin_id]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Netpoint_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-netpoint_id" data-rule="required" data-source="device/netpoint/index" class="form-control selectpage form-control" name="row[netpoint_id]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Entity_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-entity_id" data-rule="required" data-source="device/entity/index" class="form-control selectpage form-control" name="row[entity_id]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Devtype_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-devtype_id" data-rule="required" data-source="device/devtype/index" class="form-control selectpage form-control" name="row[devtype_id]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Permission')}:</label>
        <div class="col-xs-12 col-sm-8">
            <span class="text-muted"><input type="checkbox" name="" id="checkall" /> <label for="checkall"><small>{:__('Check all')}</small></label></span>
            <span class="text-muted"><input type="checkbox" name="" id="expandall" /> <label for="expandall"><small>{:__('Expand all')}</small></label></span>

            <div id="treeview"></div>
        </div>
    </div>
    <!-- <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Mac')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-mac" data-rule="required" class="form-control form-control" name="row[mac]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Blepwd')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-blepwd" data-rule="required" class="form-control form-control" name="row[blepwd]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-status" data-rule="required" class="form-control form-control" name="row[status]" type="number">
        </div>
    </div> -->
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
