<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
	<input id="c-ids" class="form-control" name="row[ids]" type="hidden" value="{$ids}">
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Num')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-num" class="form-control" type="number" value="{$num}" readonly="readonly">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Content')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-content" data-rule="required" class="form-control" rows="{$num==0 ? 2 : $num * 3 - 1}" cols="240" readonly="readonly">{$content}</textarea>
        </div>
    </div>
    
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('确认分润转账')}</button>
        </div>
    </div>
</form>
